# /etc/systemd/system/freezer-monitor.service
[Unit]
Description=Freezer monitor
After=local-fs.target

[Service]
Type=forking
ExecStartPre=/sbin/modprobe reed_switch
ExecStartPre=/sbin/modprobe 1602_lcd
ExecStartPre=/sbin/modprobe mcp9808
ExecStart=/usr/bin/freezer_monitor -d
ExecStopPost=/sbin/modprobe -r 1602_lcd
ExecStopPost=/sbin/modprobe -r reed_switch
ExecStopPost=/sbin/modprobe -r mcp9808
Restart=on-failure

[Install]
WantedBy=multi-user.target